<div class="navbar navbar-expand-lg navbar-light bg-light p-3 mb-5">
    <div class="container-fluid">
        <h2><%= link_to "Bohdan Vakh Portfolio", home_path, class:"link-dark text-decoration-none" %></h2>
        <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, class:"btn btn-dark" %>
        <% else %>
            <div class="button_container d-flex gap-4">
                <%= link_to "Register", new_user_registration_path, data: { "turbo-method": :get }, class:"btn btn-outline-dark" %>
                <%= link_to "Log In", new_user_session_path, class:"btn btn-dark" %>
            </div>
        <% end %>
    </div>
</div>
