<h2 class="mt-5 mb-5 text-center">Sign up</h2>

<div class="container" style="max-width:550px">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class:"form-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      <br >
    </div>

    <div class="field">
      <%= f.label :password, class:"form-label" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
      <br >
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class:"form-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      <br >
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class:"btn btn-primary btn-lg mt-3 mb-3" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
