<h2 class="mt-5 mb-5 text-center">Forgot your password?</h2>

<div class="container" style="max-width:550px">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class:"form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Reset password", class:"btn btn-primary btn-lg mt-3 mb-3" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
