<%= form_with(model: post) do |form| %>
  <div class="mb-3">
    <%= form.label :title, style: "display: block", class:"form-label" %>
    <%= form.text_field :title, class:"form-control", placeholder: 'Project #1' %>
  </div>

  <div class="mb-3">
    <%= form.label :author, style: "display: block", class:"form-label" %>
    <%= form.text_field :author, class:"form-control", placeholder: 'Carl Johnson' %>
  </div>

  <div class="mb-3">
    <%= form.label :image, "Image URL", style: "display: block", class:"form-label" %>
    <%= form.text_field :image, class:"form-control", placeholder: 'http://image_url' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, style: "display: block", class:"form-label" %>
    <%= form.text_field :description, class:"form-control", placeholder: 'Short story about this project' %>
  </div>

  <div class="mb-3">
    <%= form.label :link, style: "display: block", class:"form-label" %>
    <%= form.text_field :link, class:"form-control", placeholder: 'http://project_url' %>
  </div>

  <% if post.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h4>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>

      </ul>
    </div>
  <% end %>

  <div class="d-flex justify-content-center">
    <%= form.submit class:"btn btn-primary mt-3" %>
  </div>
<% end %>
