<div id="<%= dom_id post %>">
  <p>
    <%= post.title %>
  </p>

  <p>
    <img src="<%= post.image %>" style="width:100%; height:300px; object-fit: cover;">
  </p>

  <div class="d-flex justify-content-between align-items-center">
    <p>
      <strong>@<%= post.author %></strong>
    </p>
    <p style="font-size: 12px;">
      <%= post.created_at.strftime("%d %B %Y") %>
    </p>
  </div>

  <p>
      <%= post.description %>
    </p>

  <% if post.link.empty? %>
    <p></p>
  <% else %>
    <p style="margin-bottom: 80px">
      <a href="<%= post.link %>" target="_blank">Check the link attached by the author</a>
    </p>
  <% end %>
</div>
