<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div class="d-flex gap-3 mb-5">
<% if current_user %>
  <% if current_user.email.downcase != @super_user_email.downcase %>
    <%= link_to "Back to posts", posts_path, class:"btn btn-outline-primary" %>
    <%= current_user.email %>
  <% else %>
    <%= link_to "Show this post", @post, class:"btn btn-outline-primary" %>
    <%= link_to "Back to posts", posts_path, class:"btn btn-outline-primary" %>
  <% end %>
<% end %>
</div>
