<h1>Posts</h1>

<div id="posts" class="">
    <% if @posts.empty? %>
      <h2 class="text-center mt-5 mb-5">No posts yet</h2>

    <% else %>
    <hr />
      <div class="row row-cols-3">
        <% @posts.each do |post| %>
          <div class="col" style="position:relative">
            <%= render post %>
            <p style="position:absolute; bottom:0px">
              <%= link_to "Show details", post, class:"btn btn-secondary" %>
            </p>
          </div>
        <% end %>
        </div>
      <hr />
    <% end %>
</div>

<% if current_user %>
  <% if current_user.email.downcase != @super_user_email.downcase and current_user.email.downcase != @special_user.email.downcase %>

    <p class="text-center" style="color:#7B8FA1;">
    We noticed that you are not our admin. Only the view option is available to you.
    </p>
  <% else %>
    <% if @posts.empty? %>
      <p class="text-center mt-5 mb-5">Add your first post</p>
    <% else %>
      <p class="text-center mt-5 mb-5">Add new post</p>
    <% end %>
    <div class="d-flex justify-content-center">
      <%= link_to "Add post", new_post_path, class:"btn btn-primary mt-5 mb-5" %>
    </div>
  <% end %>
<% else %>
    <p class="text-center" style="color:#7B8FA1;">
      Who are you stranger? Looks like you are not authorized. Only the view option is available to you.
    </p>
<% end %>
