<h1 class="text-center mb-5">New post</h1>

<%= render "form", post: @post %>

<br>

<div class="d-flex justify-content-center">
  <%= link_to "Back to posts", posts_path, class:"link-secondary text-center mb-5" %>
</div>
