<div>
  <img src="<%= @post.image %>" class="mb-5" style="width:100%; max-height:500px; object-fit: cover;">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="mb-3"><%= @post.title %></h1>
    <h6><strong>By @<%= @post.author %></strong></h6>
  </div>
  <p><%= @post.description %></p>
  <p style="font-size:12px"><%= @post.created_at.strftime("%d %B %Y") %></p>
</div>

<% if current_user %>
  <% if current_user.email.downcase != @super_user_email.downcase %>
    <%= link_to "Back to posts", posts_path, class:"btn btn-outline-secondary mb-5" %>
  <% else %>
    <div class="d-flex justify-content-between align-items-center mt-5 mb-5">
      <div class="d-flex gap-5">
        <%= link_to "Edit", edit_post_path(@post), class:"btn btn-outline-secondary" %>
        <%= link_to "Back to posts", posts_path, class:"btn btn-outline-secondary" %>
      </div>

      <%= button_to "Delete", @post, method: :delete, data: {turbo_method: :delete,
      turbo_confirm: 'Are you sure you want to delete this post?'}, class:"btn btn-danger" %>
    </div>
  <% end %>
<% end %>
